@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="shortcut icon" href=""> @*fix bug favicon.ico*@
    @*<script src="~/UserJavaScript/AdminPage.js"></script>*@
</head>
<body>
    <br/>
    
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#admin_1st_tab"><font face="Snell Roundhand, cursive">@*<b><i>*@Изменение Данных@*</i></b>*@</font></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1"><font face="Snell Roundhand, cursive">Допустимые Комбинации</font></a>
        </li>
        @*<li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">Menu 2</a>
        </li>*@
    </ul>

    <br/>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane container-fluid active" id="admin_1st_tab">
            <div class="row">
                <div class="list-group list-group-flush col-lg-3" id="board1">
                    <button type="button" class="list-group-item list-group-item-action active" data-toggle="list" data-target="#color" role="tab">Цвет</button>
                    <button type="button" class="list-group-item list-group-item-action" data-toggle="list" data-target="#pattern" role="tab">Лекало</button>
                    <button type="button" class="list-group-item list-group-item-action" data-toggle="list" data-target="#lining" role="tab">Подкладка</button>
                    <button type="button" class="list-group-item list-group-item-action" data-toggle="list" data-target="#footbed" role="tab">Стелька</button>
                    <button type="button" class="list-group-item list-group-item-action" data-toggle="list" data-target="#pad" role="tab">Личина</button>
                    <button type="button" class="list-group-item list-group-item-action" data-toggle="list" data-target="#kindOfBlock" role="tab">Вид колодки</button>
                    <button type="button" class="list-group-item list-group-item-action" data-toggle="list" data-target="#topMaterial" role="tab">Материал верха</button>
                    <button type="button" class="list-group-item list-group-item-action" data-toggle="list" data-target="#furniture" role="tab">Фурнитура</button>
                    <button type="button" class="list-group-item list-group-item-action" data-toggle="list" data-target="#materialOfSole" role="tab">Материал подошвы</button>
                    <button type="button" class="list-group-item list-group-item-action" data-toggle="list" data-target="#component" role="tab">Комплектующие</button>

                </div>

                <div class="col-lg-2"></div>
                <div id="select" class="tab-content col-lg-5">

                    @* ЦВЕТ *@
                    <div id="color" class="tab-pane active" role="tabpanel">
                        @{Html.RenderAction("Partial_GetAllColours");}
                        <div class="form-inline">
                            <label class="componentColourL" for="colorName">Цвет:</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" id="color_Colour">
                        </div>
                    </div>

                    @* ЛЕКАЛО *@
                    <div id="pattern" class="tab-pane" role="tabpanel">
                        @{Html.RenderAction("Partial_GetAllPatterns");}
                        <div class="form-inline">
                            <label class="componentReferenceL" for="pattern_CrossReference">Reference:</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" id="pattern_CrossReference">
                        </div>
                        <div class="form-inline">
                            <label class="mr-sm-2" for="pattern_AdditionalInformation">Информация:</label>
                            <textarea type="text" class="form-control mb-2 mr-sm-2" id="pattern_AdditionalInformation" cols="22" rows="3"></textarea>
                        </div>
                        <div class="form-inline">
                            <label class="mr-sm-2" for="pattern_UseUnuse">Используется:</label>
                            <input type="checkbox" class="mb-0 mr-sm-2" id="pattern_UseUnuse">
                        </div>

                    </div>

                    @* ПОДКЛАДКА *@
                    <div id="lining" class="tab-pane" role="tabpanel">
                        @{Html.RenderAction("Partial_GetAllLinings");}
                        <div class="form-inline">
                            <label class="nameL" for="lining_Name">Название:</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" id="lining_Name">
                        </div>
                        <div class="form-inline">
                            <label class="seasonL" for="lining_Season">Сезон:</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" id="lining_Season">
                        </div>
                        <div class="form-inline">
                            <label class="componentReferenceL" for="lining_CrossReference">Reference:</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" id="lining_CrossReference">
                        </div>
                        <div class="form-inline">
                            <label class="mr-sm-2" for="lining_AdditionalInformation">Информация:</label>
                            <textarea type="text" class="form-control mb-2 mr-sm-2" id="lining_AdditionalInformation" cols="22" rows="3"></textarea>
                        </div>
                        <div class="form-inline">
                            <label class="mr-sm-2" for="lining_UseUnuse">Используется:</label>
                            <input type="checkbox" class="mb-0 mr-sm-2" id="lining_UseUnuse">
                        </div>
                    </div>

                    @* ФУРНИТУРА *@
                    <div id="furniture" class="tab-pane ddl_Colours" role="tabpanel">
                        @{Html.RenderAction("Partial_GetAllFurnitures");}
                        <div class="form-inline">
                            <label class="furnitureL" for="furniture_Type">Фурнитура:</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" id="furniture_Type">
                        </div>
                        @*@{Html.RenderAction("Partial_GetAllColours");}*@
                        <div class="form-inline">
                            <label class="componentReferenceL" for="furniture_CrossReference">Reference:</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" id="furniture_CrossReference">
                        </div>
                        <div class="form-inline">
                            <label class="mr-sm-2" for="furniture_UseUnuse">Используется:</label>
                            <input type="checkbox" class="mb-0 mr-sm-2" id="furniture_UseUnuse">
                        </div>
                    </div>

                        @* СТЕЛЬКА *@
                    <div id="footbed" class="tab-pane" role="tabpanel">
                        @{Html.RenderAction("Partial_GetAllFootbeds");}
                        <div class="form-inline">
                            <label class="componentNameL" for="footbed_Type">Тип:</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" id="footbed_Type">
                        </div>
                        <div class="form-inline">
                            <label class="componentReferenceL" for="footbed_CrossReference">Reference:</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" id="footbed_CrossReference">
                        </div>
                        <div class="form-inline">
                            <label class="mr-sm-2" for="footbed_AdditionalInformation">Информация:</label>
                            <textarea type="text" class="form-control mb-2 mr-sm-2" id="footbed_AdditionalInformation" cols="22" rows="3"></textarea>
                        </div>
                    </div>

                        @* ЛИЧИНА *@
                    <div id="pad" class="tab-pane" role="tabpanel">
                        @{Html.RenderAction("Partial_GetAllPads");}
                        <div class="form-inline">
                            <label class="componentNameL" for="pad_Kind">Вид:</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" id="pad_Kind">
                        </div>
                        <div class="form-inline">
                            <label class="componentSizeL" for="pad_PadSize">Размер:</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" id="pad_PadSize">
                        </div>
                        <div class="form-inline">
                            <label class="mr-sm-2" for="pad_AdditionalInformation">Информация:</label>
                            <textarea type="text" class="form-control mb-2 mr-sm-2" id="pad_AdditionalInformation" cols="22" rows="3"></textarea>
                        </div>
                        <div class="form-inline">
                            <label class="mr-sm-2" for="pad_UseUnuse">Используется:</label>
                            <input type="checkbox" class="mb-0 mr-sm-2" id="pad_UseUnuse">
                        </div>
                    </div>

                        @* ВИД КОЛОДКИ *@
                    <div id="kindOfBlock" class="tab-pane" role="tabpanel">
                        @{Html.RenderAction("Partial_GetAllKindOfBlocks");}
                        <div class="form-inline">
                            <label class="nameL" for="kindOfBlock_Name">Название:</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" id="kindOfBlock_Name">
                        </div>
                        <div class="form-inline">
                            <label class="componentReferenceL" for="kindOfBlock_CrossReference">Reference:</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" id="kindOfBlock_CrossReference">
                        </div>
                        <div class="form-inline">
                            <label class="mr-sm-2" for="kindOfBlock_AdditionalInformation">Информация:</label>
                            <textarea type="text" class="form-control mb-2 mr-sm-2" id="kindOfBlock_AdditionalInformation" cols="22" rows="3"></textarea>
                        </div>
                    </div>

                        @* МАТЕРИАЛ ПОДОШВЫ *@
                    <div id="materialOfSole" class="tab-pane ddl_Colours" role="tabpanel">
                        @{Html.RenderAction("Partial_GetAllMaterialOfSoles");}
                        <div class="form-inline">
                            <label class="nameL" for="materialOfSole_Name">Название:</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" id="materialOfSole_Name">
                        </div>
                        @*@{Html.RenderAction("Partial_GetAllColours");}*@
                        
                        <div class="form-inline">
                            <label class="componentReferenceL" for="materialOfSole_CrossReference">Reference:</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" id="materialOfSole_CrossReference">
                        </div>
                        <div class="form-inline">
                            <label class="mr-sm-2" for="materialOfSole_UseUnuse">Используется:</label>
                            <input type="checkbox" class="mb-0 mr-sm-2" id="materialOfSole_UseUnuse">
                        </div>
                    </div>

                        @* МАТЕРИАЛ ВЕРХА *@
                    <div id="topMaterial" class="tab-pane ddl_Colours" role="tabpanel">
                        @{Html.RenderAction("Partial_GetAllTopMaterials");}
                        <div class="form-inline">
                            <label class="componentNameL" for="topMaterial_Type">Тип:</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" id="topMaterial_Type">
                        </div>
                        @*@{Html.RenderAction("Partial_GetAllColours");}*@
                        
                        <div class="form-inline">
                            <label class="componentReferenceL" for="topMaterial_CrossReference">Reference:</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" id="topMaterial_CrossReference">
                        </div>
                        <div class="form-inline">
                            <label class="mr-sm-2" for="topMaterial_UseUnuse">Используется:</label>
                            <input type="checkbox" class="mb-0 mr-sm-2" id="topMaterial_UseUnuse">
                        </div>
                    </div>

                        @* КОМПЛЕКТУЮЩИЕ *@
                    <div id="component" class="tab-pane ddl_Colours" role="tabpanel">
                        @{Html.RenderAction("Partial_GetAllComponents");}
                        <div class="form-inline">
                            <label class="componentNameL" for="component_TypeOfComponent">Тип:</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" id="component_TypeOfComponent">
                        </div>
                        @*@{Html.RenderAction("Partial_GetAllColours");}*@

                        <div class="form-inline">
                            <label class="componentReferenceL" for="component_CrossReference">Reference:</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" id="component_CrossReference">
                        </div>
                        <div class="form-inline">
                            <label class="componentSizeL" for="component_Size">Размер:</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" id="component_Size">
                        </div>
                        <div class="form-inline">
                            <label id="componentHighL" for="component_Height">Высота:</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" id="component_Height">
                        </div>
                        <div class="form-inline">
                            <label id="componentWidthL" for="component_Width">Ширина:</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" id="component_Width">
                        </div>
                        <div class="form-inline">
                            <label id="componentFormL" for="component_Form">Форма:</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" id="component_Form">
                        </div>
                        <div class="form-inline">
                            <label class="componentViewL" for="component_Type">Вид:</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" id="component_Type">
                        </div>
                        <div class="form-inline">
                            <label class="mr-sm-2" for="component_AdditionalInformation">Информация:</label>
                            <textarea type="text" class="form-control mb-2 mr-sm-2" id="component_AdditionalInformation" cols="22" rows="3"></textarea>
                        </div>
                        <div class="form-inline">
                            <label class="mr-sm-2" for="component_UseUnuse">Используется:</label>
                            <input type="checkbox" class="mb-0 mr-sm-2" id="component_UseUnuse">
                        </div>
                    </div>

                    </div>

                    <div class="col-lg-2"></div>               

                </div>

        </div>
        <div class="tab-pane container fade" id="menu1">б</div>
        @*<div class="tab-pane container fade" id="menu2">в</div>*@
    </div>
    <div class="container-fluid">
        <div class="row">

        </div>
    </div>
</body>
</html>
