@model Karmen.Models.KindOfBlockModel

<div class="form-inline">
    <label for="kindOfBlock_Id">Выбор из БД:</label>
    @Html.DropDownListFor(x => x.Id, Model.AllKindsOfBlockFromDb, "-Вид колодки-", new { @class = "dropdown-toggle form-control mb-2 mr-sm-2 selectFromDb" })
</div>

