.componentColourL {
    margin-right: 13%;
}
.componentViewL {
    margin-right: 14.5%;
}
#componentFormL {
    margin-right: 10.5%;
}
#componentWidthL {
    margin-right: 8.5%;
}
#componentHighL {
    margin-right: 10%;
}
.componentSizeL {
    margin-right: 9.6%;
}
.componentReferenceL {
    margin-right: 6.5%;
}
.componentNameL {
    margin-right: 14.5%;
}
.seasonL {
    margin-right: 11.3%;
}
.nameL {
    margin-right: 6.5%;
}
.furnitureL {
    margin-right: 4.5%;
}
.scd{
    margin-left:27.5%;
}
.selectFromDb {
    margin-left: 1.9%;
    width: 37.3% !important;
}