<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>КАРМЕН</title>
    @*<script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <link href="~/content/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Scripts/jsgrid.min.js"></script>
    <link href="~/Content/jsgrid-theme.min.css" rel="stylesheet" />
    <link href="~/Content/jsgrid.min.css" rel="stylesheet" />*@

    @*<link href="~/Content/font-awesome.min.css" rel="stylesheet" />*@
    @*<script src="https://use.fontawesome.com/a583fcdacd.js"></script>*@



</head>

<body>

    @RenderBody()
    @RenderSection("scripts", required: false)

    @*<link href="~/content/usercss/sitestyle.css" rel="stylesheet" />
    <script src="~/UserScript/MainPage.js"></script>
    <script src="~/UserScript/WorkWithModals.js"></script>
    <script src="~/UserScript/Author_Authentific.js"></script>*@

</body>
</html>